<% content_for :title, "New task" %>

<h1>New task</h1>

<%= render "form", task: @task %>

<br>

<button type="button" class="btn btn-danger"><%= link_to "Back to tasks", tasks_path, class: "text-white text-decoration-none"%>
</button>
