<div id="<%= dom_id user %>">
  <p>
    <strong>Pseudonym:</strong>
    <%= user.pseudonym %>
  </p>

  <p>
    <strong></strong>
    <%= image_tag user.photo, class: "img-fluid mx-auto d-block" %>
  </p>

</div>
